


    css body {
width: 100%;
}

header {
    width: 100%;
}

button {
    width: 100%;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 12px;
    }

#hamburger {
    float: right;
}

.links{
    float: right;
    }
    
    section {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


ul {
    list-style-type: none;
}